.designing {
  &__content {
    margin-inline: auto;
    @include onTablet {
      padding-inline: 60px;
    }
  }
  &__top {
    margin-inline: auto;
    @include adaptive-property(margin-bottom, 24, 32, 24);
    @include onDesktop {
      margin-left: auto;
      margin-right: 0;
      translate: 60px 0;
    }
  }
  &__grid {
    margin-inline: auto;
  }
}
.grid-designing {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 32px;

  @include onDesktop {
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 16px;
  }

  &__item-1 {
    grid-area: 1 / 1 / 3 / 3;
    translate: -32px 0;
    @include onTablet {
      translate: 0 0;
    }
    @include onDesktop {
      grid-area: 1 / 1 / 4 / 5;
    }
  }
  &__item-2 {
    grid-area: 1 / 3 / 2 / 5;
    align-self: center;
    @include onDesktop {
      grid-area: 2 / 7 / 3 / 10;
    }
  }
  &__item-3 {
    grid-area: 2 / 3 / 3 / 5;
    align-self: center;
    @include onDesktop {
      grid-area: 3 / 7 / 4 / 10;
    }
  }
  &__item-4 {
    grid-area: 3 / 1 / 4 / 3;
    align-self: center;
    justify-self: end;
    @include onTablet {
      justify-self: start;
    }
    @include onDesktop {
      justify-self: end;
      grid-area: 2 / 10 / 3 / 13;
    }
  }
  &__item-5 {
    grid-area: 4 / 1 / 5 / 3;
    align-self: center;
    justify-self: end;
    @include onTablet {
      justify-self: start;
    }
    @include onDesktop {
      justify-self: end;
      grid-area: 3 / 10 / 4 / 13;
    }
  }
  &__item-6 {
    grid-area: 3 / 3 / 5 / 5;
    translate: 32px 0;
    @include onTablet {
      translate: 0 0;
    }
    @include onDesktop {
      grid-area: 2 / 3 / 5 / 7;
    }
  }
  &__img {
    @include adaptive-property(min-width, 177, 240, 450);
    aspect-ratio: 0.885 / 1;
    @include ibg;
    border-radius: $radius-small;
    overflow: hidden;
    box-shadow: 3.94px 3.94px 19.69px 0px rgba(0, 0, 0, 0.5);
    @include onTablet {
      border-radius: $radius-medium;
      aspect-ratio: 0.666 / 1;
    }
    @include onDesktop {
      aspect-ratio: 0.716 / 1;
    }
  }
  &__digits {
    width: min-content;
    @include nunito;
    @include adaptive-property(font-size, 2.5, 3, 4.25, rem);
    @include adaptive-property(line-height, 3, 3.5, 4.125, rem);
    margin-bottom: 8px;
    font-weight: 600;
  }
  &__disc {
    width: min-content;
    @include adaptive-property(font-size, 1.25, 2, 2.5, rem);
    @include adaptive-property(line-height, 1.875, 2.5, 3.5, rem);
    @include onDesktop {
      @include nunito;
      font-weight: 400;
    }
  }
  &__text--olive .grid-designing__digits,
  &__text--olive .grid-designing__disc {
    color: $bg-color-secondary;
  }
}
