.menu {
  @media (max-width: 1200px) {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background-color: #6cafd9;
    transition: $transition-duraction-long;
  }
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 30px 30px;
    row-gap: 2rem;

    @include onDesktop {
    padding: 0;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 1.5rem;
    }
  }
  &__link  {
    @include adaptive-property(font-size, 1.5, 1.125, 1.125, rem);
    @include position-r;
    display: inline-block;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.004em;
    color: #eee8de;
  }
}
.menu.open {
  left: 0%;
}
.burger {
  @media (max-width: 1200px) {
    @include position-r;
    display: block;
    width: 32px;
    height: 18px;
    @include adaptive-property(width, 32, 46, 46);
    @include adaptive-property(height, 18, 26, 26);
    cursor: pointer;

    &::before,
    &::after,
    span {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      border-radius: 10px;
      background-color: #324052;
      transition: $transition-duraction-short;
      cursor: pointer;
      @include onTablet {
        height: 4px;
      }
    }
    &::before,
    &::after {
      content: "";
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  display: none;
}
.burger.active {
  &::before {
    top: 50%;
    transform: rotate(45deg) translateY(-50%);
  }
  &::after {
    top: 50%;
    transform: rotate(-45deg) translateY(-50%);
  }
  span {
    opacity: 0;
    transform: scaleX(0);
  }
}
