html {
  scroll-behavior: smooth;
}
.page {
  @include roboto;
  @include adaptive-property(font-size, 1, 2, 0.875, rem);
  letter-spacing: -5%;
  font-weight: 400;
  line-height: 24px;
  color: $text-color-secondary;
  background-color: $bg-color-main;
  overflow-x: clip;
  @include onTablet {
    letter-spacing: -4%;
  }
}
.page.lock {
  overflow: clip;
}
.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: clip;
}
[class*="__container"] {
  max-width: 1560px;
  @include adaptive-property(padding-inline, 16, 60, 60);
  margin-inline: auto;
  overflow-x: clip;
}
