@use "sass:math";

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}
@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}
@mixin onLaptop {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin onMobile {
  @media (min-width: 390px) {
    @content;
  }
}
@mixin position-r {
  position: relative;
  inset: 0;
}
@mixin ibg($size: cover) {
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: $size;
    object-position: center;
  }
}
@mixin p-margin {
  &__text p:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}
@mixin flex-center($position: center) {
  display: flex;
  justify-content: $position;
  align-items: center;
}
@mixin flex($position: center) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $position;
}
@mixin cards-flex($column-gap) {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: $column-gap;
}

@function get-value($min-width, $max-width, $size-at-min-width, $size-at-max-width, $unit) {
  $return-value: calc(
    #{$size-at-min-width + $unit} + (#{$size-at-max-width - $size-at-min-width}) * ((100vw - #{$min-width + $unit}) /
          (#{$max-width - $min-width}))
  );
  @return $return-value;
}
@function percent($min-value, $max-value) {
  @return ($min-value * 100%) / $max-value;
}
@mixin adaptive-property($property, $mobile-size, $tablet-size, $desktop-size, $unit: px) {
  $max-width: 1440;
  $min-width: 320;
  $tablet-width: 767.98;

  @if ($unit == rem) {
    $max-width: math.div(1440, 16);
    $min-width: math.div(320, 16);
    $tablet-width: math.div(767.98, 16);
  }

  @if ($tablet-size == 0) {
    #{$property}: $desktop-size + $unit;

    @media (max-width: 1440px) {
      #{$property}: get-value($min-width, $max-width, $mobile-size, $desktop-size, $unit);
    }
  } @else {
    #{$property}: get-value($min-width, $tablet-width, $mobile-size, $tablet-size, $unit);

    @media (min-width: 767.98px) {
      #{$property}: get-value($tablet-width, $max-width, $tablet-size, $desktop-size, $unit);
    }
    @media (min-width: 1440px) {
      #{$property}: $desktop-size + $unit;
    }
  }
}
@mixin roboto {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
@mixin roboto-italic {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

@mixin nunito {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@mixin nunito-italic {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
}