$tablet-min-width: 576px;
$desktop-min-width: 1200px;

$text-color-main: #324052;
$text-color-secondary: #2e688d;

$bg-color-main: #fbfcfc;
$bg-color-secondary: #8d6515;
$bg-color-secondary-light: #ceb181;

$transition-duraction-short: 0.5s;
$transition-duraction-long: 0.8s;
